<!DOCTYPE html>
{% load static %}
<!--para los de css-->
<link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-reboot.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-reboot.min.css' %}">
<link rel="stylesheet" href="{% static 'css/default-skin.css' %}">
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
<link rel="stylesheet" href="{% static 'css/meanmenu.css' %}">
<link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
<link rel="stylesheet" href="{% static 'css/normalize.css' %}">
<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
<link rel="stylesheet" href="{% static 'css/slick.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<!--para los de js-->
<link rel="stylesheet" href="{% static 'js/bootstrap.bundle.js' %}">
<link rel="stylesheet" href="{% static 'js/bootstrap.bundle.min.js' %}">
<link rel="stylesheet" href="{% static 'js/bootstrap.js' %}">
<link rel="stylesheet" href="{% static 'js/bootstrap.min.js' %}">
<link rel="stylesheet" href="{% static 'js/custom.js' %}">
<link rel="stylesheet" href="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}">
<link rel="stylesheet" href="{% static 'js/jquery.min.js' %}">
<link rel="stylesheet" href="{% static 'js/jquery.validate.js' %}">
<link rel="stylesheet" href="{% static 'js/jquery-3.0.0.min.js' %}">
<link rel="stylesheet" href="{% static 'js/modernizer.js' %}">
<link rel="stylesheet" href="{% static 'js/plugin.js' %}">
<link rel="stylesheet" href="{% static 'js/popper.min.js' %}">
<link rel="stylesheet" href="{% static 'js/slider-setting.js' %}">

<html lang="en">
   <head>
      {% load static %}
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Reporte de Inflacion</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" type="text/css" href="css/style.css">
      <!-- Responsive-->

      <link rel="stylesheet" href="static/css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <!-- owl stylesheets -->
      <link rel="stylesheet" href="css/owl.carousel.min.css">
      <link rel="stylesheet" href="css/owl.theme.default.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
   </head>
   <body>
      <!-- header section start -->
      <div class="header_section">
         <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="logo" href="index.html"><img src="{% static 'images/La Canasta Ideal.png' %}" width="80" height="80"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                     <a class="nav-link" href="{% url 'GestionarProductos' %}">Inicio</a>
                  </li>
               </ul>
               {% load static %}
                <div class="search_icon"><a href="#"><img src="{% static 'images/user-icon.png' %}"><span class="padding_left_15">Cerrar Sesión</span></a></div>
            </div>
         </nav>
      </div>
      <!-- header section end -->
      <!-- arrival section start -->
      <div class="arrival_section layout_padding">
         <div class="container">
            <center><h1 class="arrival_text">Reporte de Inflación</h1></center><br><br><br>
            <div class="row">
            <label class="subti_text">ZONA URBANA</label><br><br><br>
            <div class="col-sm-6 col-lg-4" ALIGN=CENTER>
               <CENTER>
               <TABLE BORDER WIDTH="100%">
                  <TR ALIGN=CENTER WIDTH="30%">
                     <TH WIDTH="150%">Mes</TH>
                     <TH WIDTH="150%">Gasto Mensual<br> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspAño&nbspActual&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</TH>
                     <TH WIDTH="100%">Gasto Mensual<br> &nbsp&nbsp&nbsp&nbsp&nbspAño&nbspAnterior&nbsp&nbsp&nbsp&nbsp&nbsp</TH>
                     <TH >&nbsp&nbsp&nbsp&nbsp&nbspInflación&nbsp&nbsp&nbsp&nbsp&nbsp</TH>
                  </TR>

                  <TR ALIGN=CENTER>
                     <TH>ENERO</TH><TD>$200.40</TD><TD>$200.90</TD><TD>$0.49</TD>
                  </TR>

                  <TR ALIGN=CENTER>
                     <TH>FEBRERO</TH><TD>$200.58</TD><TD>$199.24</TD><TD>$1.34</TD>
                  </TR>

                  <TR ALIGN=CENTER>
                     <TH>MARZO</TH><TD>$200.19</TD><TD>198.90</TD><TD>$1.29</TD>
                  </TR>

                  <TR ALIGN=CENTER>
                     <TH>ABRIL</TH><TD>$200.53</TD><TD>201.26</TD><TD>$0.73</TD>
                  </TR>

                  <TR ALIGN=CENTER>
                     <TH>MAYO</TH><TD>$199.84</TD><TD>209.83</TD><TD>$9.99</TD>
                  </TR>

                  <TR ALIGN=CENTER>
                     <TH>JUNIO</TH><TD>$202.37</TD><TD>211.44</TD><TD>$9.07</TD>
                  </TR>

                  <TR ALIGN=CENTER>
                     <TH>JULIO</TH><TD>$200.68</TD><TD>209.33</TD><TD>$8.65</TD>
                  </TR>

                  <TR ALIGN=CENTER>
                     <TH>AGOSTO</TH><TD>$199.30</TD><TD>203.72</TD><TD>$4.42</TD>
                  </TR>

                  <TR ALIGN=CENTER>
                     <TH>SEPTIEMBRE</TH><TD>$199.49</TD><TD>200.65</TD><TD>$1.27</TD>
                  </TR>

                   <TR ALIGN=CENTER>
                     <TH>OCTUBRE</TH><TD>$198.54</TD><TD>197.69</TD><TD>$0.85</TD>
                  </TR>

                   <TR ALIGN=CENTER>
                     <TH>NOVIEMBRE</TH><TD>$198.14</TD><TD>200.54</TD><TD>$2.40</TD>
                  </TR>

                   <TR ALIGN=CENTER>
                     <TH>DICIEMBRE</TH><TD>$199.63</TD><TD>198.14</TD><TD>$1.49</TD>
                  </TR>
               </TABLE>
               </CENTER><BR><BR><BR>
            </div>
         </div>

            <div class="row">
            <label class="subti_text">ZONA RURAL</label><br><br><br>
            <div class="col-sm-6 col-lg-4" ALIGN=CENTER>

               <TABLE BORDER WIDTH="100%">

                  <TR ALIGN=CENTER WIDTH="30%">
                     <TH WIDTH="150%">Mes</TH>
                     <TH WIDTH="150%">Gasto Mensual<br> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspAño&nbspActual&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</TH>
                     <TH WIDTH="100%">Gasto Mensual<br> &nbsp&nbsp&nbsp&nbsp&nbspAño&nbspAnterior&nbsp&nbsp&nbsp&nbsp&nbsp</TH>
                     <TH >&nbsp&nbsp&nbsp&nbsp&nbspInflación&nbsp&nbsp&nbsp&nbsp&nbsp</TH>
                  </TR>

                  <TR ALIGN=CENTER>
                     <TH>ENERO</TH><TD>$144.91</TD><TD>$145.40</TD><TD>$0.49</TD>
                  </TR>

                  <TR ALIGN=CENTER>
                     <TH>FEBRERO</TH><TD>$143.40</TD><TD>$145.86</TD><TD>$2.46</TD>
                  </TR>

                  <TR ALIGN=CENTER>
                     <TH>MARZO</TH><TD>$143.40</TD><TD>$145.90</TD><TD>$2.50</TD>
                  </TR>

                  <TR ALIGN=CENTER>
                     <TH>ABRIL</TH><TD>$144.04</TD><TD>$141.96</TD><TD>$2.08</TD>
                  </TR>

                  <TR ALIGN=CENTER>
                     <TH>MAYO</TH><TD>$145.78</TD><TD>$146.96</TD><TD>$1.18</TD>
                  </TR>

                  <TR ALIGN=CENTER>
                     <TH>JUNIO</TH><TD>$144.43</TD><TD>$151.81</TD><TD>$7.38</TD>
                  </TR>

                  <TR ALIGN=CENTER>
                     <TH>JULIO</TH><TD>$144.14</TD><TD>$146.62</TD><TD>$2.48</TD>
                  </TR>

                  <TR ALIGN=CENTER>
                     <TH>AGOSTO</TH><TD>$145.35</TD><TD>$145.04</TD><TD>$0.31</TD>
                  </TR>

                  <TR ALIGN=CENTER>
                     <TH>SEPTIEMBRE</TH><TD>$144.90</TD><TD>$142.82</TD><TD>$2.08</TD>
                  </TR>

                   <TR ALIGN=CENTER>
                     <TH>OCTUBRE</TH><TD>$145.96</TD><TD>$138.76</TD><TD>$7.20</TD>
                  </TR>

                   <TR ALIGN=CENTER>
                     <TH>NOVIEMBRE</TH><TD>$144.07</TD><TD>$146.65</TD><TD>$2.58</TD>
                  </TR>

                   <TR ALIGN=CENTER>
                     <TH>DICIEMBRE</TH><TD>$141.23</TD><TD>$141.63</TD><TD>$0.40</TD>
                  </TR>
               </TABLE><br><br><br>

            </div>
         </div>

         <label class="subti_text">Reporte de inflación</label><br><br><br>
            <textarea name="textarea" rows="10" cols="150">Podemos Observar la inflacion tanto en la canasta basica de la zona rural como la zona urbana de la poblacion salvadoreña </textarea><br><br><br>
            <div class="paly_bt"><a href="{% url 'ListaDeProductosAdmin' anio=2018 %}">Guardar</a></div>
      </div>
      <!-- arrival section end -->

      <!-- footer  section start -->
      <BR><BR><BR><BR><div class="footer_section layout_padding">
         <div class="container">
            <div class="social_icon">
               <ul>
                  <li><a href="#"><img src="{% static 'images/fb-icon.png' %}"></a></li>
                  <li><a href="#"><img src="{% static 'images/twitter-icon.png' %}"></a></li>
                  <li><a href="#"><img src="{% static 'images/linkedin-icon.png' %}"></a></li>
                  <li><a href="#"><img src="{% static 'images/instagram-icon.png' %}"></a></li>
               </ul>
            </div>
         </div>
      </div>
      <!-- footer  section end -->
      <!-- copyright section start -->
      <div class="copyright_section">
         <div class="container">
            <div class="copyright_text">Copyright 2023 All Right Reserved</div>
         </div>
      </div>
      <!-- copyright section end -->
      <!-- Javascript files-->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
      <!-- javascript -->
      <script src="js/owl.carousel.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
      <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
      <script>
         $('#datepicker').datepicker({
             uiLibrary: 'bootstrap4'
         });
      </script>
   </body>
</html>