<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Ver Reporte de Inflación</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" type="text/css" href="css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <!-- owl stylesheets -->
      <link rel="stylesheet" href="css/owl.carousel.min.css">
      <link rel="stylesheet" href="css/owl.theme.default.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
   </head>
   <body>
      <!-- header section start -->
      <div class="header_section">
         <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="logo" href="index.html"><img src="images/La Canasta Ideal.png" width="80" height="80"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                     <a class="nav-link" href="SeleccionarAño.html">Inicio</a>
                  </li>
               </ul>
            </div>
         </nav>
      </div>
      <!-- header section end -->
      <!-- arrival section start -->
      <div class="arrival_section layout_padding">
         <div class="container">
            <center><h1 class="arrival_text">Reporte de Inflación</h1></center><br><br><br>
            <div class="row">
            <label class="subti_text">ZONA URBANA</label><br><br><br>
            <center>
            <div class="col-sm-6 col-lg-4" ALIGN=CENTER>
               <CENTER>
               <TABLE BORDER WIDTH="100%">
                  <TR ALIGN=CENTER WIDTH="30%">
                     <TH WIDTH="150%">Mes</TH>
                     <TH WIDTH="150%">Gasto Mensual<br> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspAño&nbspActual&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</TH>
                     <TH WIDTH="100%">Gasto Mensual<br> &nbsp&nbsp&nbsp&nbsp&nbspAño&nbspAnterior&nbsp&nbsp&nbsp&nbsp&nbsp</TH>
                     <TH >&nbsp&nbsp&nbsp&nbsp&nbspInflación&nbsp&nbsp&nbsp&nbsp&nbsp</TH>
                  </TR>

                  <TR ALIGN=CENTER>
                     <TH>ENERO</TH><TD>$3.44</TD><TD>-</TD><TD>-</TD>
                  </TR>

                  <TR ALIGN=CENTER>
                     <TH>FEBRERO</TH><TD>-</TD><TD>-</TD><TD>X</TD>
                  </TR>

                  <TR ALIGN=CENTER>
                     <TH>MARZO</TH><TD>-</TD><TD>-</TD><TD>X</TD>
                  </TR>

                  <TR ALIGN=CENTER>
                     <TH>ABRIL</TH><TD>-</TD><TD>X</TD><TD>X</TD>
                  </TR>

                  <TR ALIGN=CENTER>
                     <TH>MAYO</TH><TD>-</TD><TD>-</TD><TD>X</TD>
                  </TR>

                  <TR ALIGN=CENTER>
                     <TH>JUNIO</TH><TD>X</TD><TD>-</TD><TD>X</TD>
                  </TR>

                  <TR ALIGN=CENTER>
                     <TH>JULIO</TH><TD>X</TD><TD>-</TD><TD>X</TD>
                  </TR>

                  <TR ALIGN=CENTER>
                     <TH>AGOSTO</TH><TD>X</TD><TD>-</TD><TD>-</TD>
                  </TR>

                  <TR ALIGN=CENTER>
                     <TH>SEPTIEMBRE</TH><TD>X</TD><TD>-</TD><TD>-</TD>
                  </TR>

                   <TR ALIGN=CENTER>
                     <TH>OCTUBRE</TH><TD>X</TD><TD>-</TD><TD>-</TD>
                  </TR>

                   <TR ALIGN=CENTER>
                     <TH>NOVIEMBRE</TH><TD>X</TD><TD>-</TD><TD>-</TD>
                  </TR>

                   <TR ALIGN=CENTER>
                     <TH>DICIEMBRE</TH><TD>X</TD><TD>-</TD><TD>-</TD>
                  </TR>
               </TABLE>
               </CENTER><BR><BR><BR>
            </div></center>
         </div>

            <div class="row">
            <label class="subti_text">ZONA RURAL</label><br><br><br>
            <center>
            <div class="col-sm-6 col-lg-4" ALIGN=CENTER>

               <TABLE BORDER WIDTH="100%">

                  <TR ALIGN=CENTER WIDTH="30%">
                     <TH WIDTH="150%">Mes</TH>
                     <TH WIDTH="150%">Gasto Mensual<br> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspAño&nbspActual&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</TH>
                     <TH WIDTH="100%">Gasto Mensual<br> &nbsp&nbsp&nbsp&nbsp&nbspAño&nbspAnterior&nbsp&nbsp&nbsp&nbsp&nbsp</TH>
                     <TH >&nbsp&nbsp&nbsp&nbsp&nbspInflación&nbsp&nbsp&nbsp&nbsp&nbsp</TH>
                  </TR>

                  <TR ALIGN=CENTER>
                     <TH>ENERO</TH><TD>$3.44</TD><TD>-</TD><TD>-</TD>
                  </TR>

                  <TR ALIGN=CENTER>
                     <TH>FEBRERO</TH><TD>-</TD><TD>-</TD><TD>X</TD>
                  </TR>

                  <TR ALIGN=CENTER>
                     <TH>MARZO</TH><TD>-</TD><TD>-</TD><TD>X</TD>
                  </TR>

                  <TR ALIGN=CENTER>
                     <TH>ABRIL</TH><TD>-</TD><TD>X</TD><TD>X</TD>
                  </TR>

                  <TR ALIGN=CENTER>
                     <TH>MAYO</TH><TD>-</TD><TD>-</TD><TD>X</TD>
                  </TR>

                  <TR ALIGN=CENTER>
                     <TH>JUNIO</TH><TD>X</TD><TD>-</TD><TD>X</TD>
                  </TR>

                  <TR ALIGN=CENTER>
                     <TH>JULIO</TH><TD>X</TD><TD>-</TD><TD>X</TD>
                  </TR>

                  <TR ALIGN=CENTER>
                     <TH>AGOSTO</TH><TD>X</TD><TD>-</TD><TD>-</TD>
                  </TR>

                  <TR ALIGN=CENTER>
                     <TH>SEPTIEMBRE</TH><TD>X</TD><TD>-</TD><TD>-</TD>
                  </TR>

                   <TR ALIGN=CENTER>
                     <TH>OCTUBRE</TH><TD>X</TD><TD>-</TD><TD>-</TD>
                  </TR>

                   <TR ALIGN=CENTER>
                     <TH>NOVIEMBRE</TH><TD>X</TD><TD>-</TD><TD>-</TD>
                  </TR>

                   <TR ALIGN=CENTER>
                     <TH>DICIEMBRE</TH><TD>X</TD><TD>-</TD><TD>-</TD>
                  </TR>
               </TABLE><br><br><br>
            </div>
            </center>
         </div>

            <label class="subti_text">Reporte de inflación</label><br><br><br>
            <textarea name="textarea" rows="10" cols="150" readonly="readonly">El presente informe....</textarea><br><br><br>
      </div>
      </div>
      <!-- arrival section end -->

      <!-- footer  section start -->
      <BR><BR><BR><BR><div class="footer_section layout_padding">
         <div class="container">
            <div class="social_icon">
               <ul>
                  <li><a href="#"><img src="images/fb-icon.png"></a></li>
                  <li><a href="#"><img src="images/twitter-icon.png"></a></li>
                  <li><a href="#"><img src="images/linkedin-icon.png"></a></li>
                  <li><a href="#"><img src="images/instagram-icon.png"></a></li>
               </ul>
            </div>
         </div>
      </div>
      <!-- footer  section end -->
      <!-- copyright section start -->
      <div class="copyright_section">
         <div class="container">
            <div class="copyright_text">Copyright 2023 All Right Reserved</div>
         </div>
      </div>
      <!-- copyright section end -->
      <!-- Javascript files-->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
      <!-- javascript -->
      <script src="js/owl.carousel.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
      <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
      <script>
         $('#datepicker').datepicker({
             uiLibrary: 'bootstrap4'
         });
      </script>
   </body>
</html>