
<h1 style="text-align: center; color: gold;">Registrar Producto</h1>
  <form style="text-align: center;" action="" method="post">



    <div class="registrar_producto">

      <!-- Nombre producto  -->
      <label class="form-label" for="form2Example1" >Nombre</label>
      <input required type="text" name="nombre_producto" id="" placeholder="Escribe aqui..."/>

      <!-- Descripcion producto  -->
      <label class="form-label" for="form2Example1">Descripcion</label>
      <input required type="text" name="descripcion_producto" id="" placeholder="Escribe aqui..."/>

      <!-- Precio Producto  -->
      <label class="form-label" for="form2Example1">Precio</label>
      <input type="text" name="precio_producto" id="" placeholder="Escribe aqui..."/>

      <!-- Submit  -->
      <button type="submit" >Agregar</button>

    </div>



  </form>